{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}
{% block content %}
<div class = "container">
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                {% image page.Profile_Pic original as bg_img %}
                <div class="avatar" style="background-image:url('{{bg_img.url}}');"></div>
                <div class="about-me">
                    <p>Hello! I am <strong>{{page.Hero_Title}}</strong>.</p> 
                    <p>I'm a <span class = "auto-type-text"></span></p>
                    <p>{{page.Hero_Summary|richtext}}</p>
                    <a class="btn btn-outline-primary" role="button" href="{{ page.Button_Router.url }}">View My Works</a>
                </div>
            </div>
        </section>
    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var tags = "{{page.Tags.all}}";
        var stringsArray = [];
        if(tags == "[]"){
            stringsArray.push("Otaku");
        }
        else{
            var splittedTags  = tags.split(";");
            var length = splittedTags.length;
            for(let i=1;i<length;i+=2){
                var newString = splittedTags[i].slice(5).split("&gt")[0];
                stringsArray.push(newString);
            }
        }
        var typed = new Typed(".auto-type-text",{
            strings: stringsArray,
            typeSpeed: 50,
            backSpeed: 50,
            loop: true
        })
    </script>
</div>
{% endblock content %}
