{% extends 'base.html' %} {% load static %} {% load wagtailimages_tags %} {% load wagtailcore_tags %} {% block content %}
<style>
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
      }
      
      .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
      }
      
      .timeline > li {
        margin-bottom: 20px;
        position: relative;
      }
      
      .timeline > li:before,
      .timeline > li:after {
        content: " ";
        display: table;
      }
      
      .timeline > li:after {
        clear: both;
      }
      
      .timeline > li:before,
      .timeline > li:after {
        content: " ";
        display: table;
      }
      
      .timeline > li:after {
        clear: both;
      }
      
      .timeline > li > .timeline-panel {
        width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      }
      
      .timeline > li > .timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
      }
      
      .timeline > li > .timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
      }
      
      .timeline > li > .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
      }
      
      .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
      }
      
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
      
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
      
      .timeline-badge.primary {
        background-color: #2e6da4 !important;
      }
      
      .timeline-badge.success {
        background-color: #3f903f !important;
      }
      
      .timeline-badge.warning {
        background-color: #f0ad4e !important;
      }
      
      .timeline-badge.danger {
        background-color: #d9534f !important;
      }
      
      .timeline-badge.info {
        background-color: #5bc0de !important;
      }
      
      .timeline-title {
        margin-top: 0;
        color: inherit;
      }
      
      .timeline-body > p,
      .timeline-body > ul {
        margin-bottom: 0;
      }
      
      .timeline-body > p + p {
        margin-top: 5px;
      }
</style>
<div class = "container">
    <div class="container">
        {% image page.Cover_Image original as bg_img %}
        <div
        class="p-5 text-center bg-image rounded" style=" background-image: url('{{bg_img.url}}');height: 400px; ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        </div>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
          <h1 id="timeline">Timeline</h1>
        </div>
        <ul class="timeline">
            {% for block in page.My_Timeline %}
            {% if forloop.counter|divisibleby:2 %}
            <li class = "timeline-inverted">
                {% include_block block %}
            </li>
            {% else %}
            <li>
                {% include_block block %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    <div class = "container">
        <h2 class = "text-center">My Skills</h2>
        <div class="row">
            {% for block in page.My_Skills %}
                <div class = "col-md-6 py-3">
                    {% include_block block %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}