{% extends 'base.html' %}
{% block content %}
{% load static %} {% load wagtailimages_tags %} 
{% load wagtailcore_tags %}
<section class="article-list">
    <div class="container">
        <section class="article-clean">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                        <div class="intro">
                            <h1 class="text-center">{{page.title}}</h1>
                            <p class="text-center"><span class="by" style="font-size:22px;">by</span> <a href="#" style = "font-size:22px;">{{page.owner}}</a><span class="date">{{page.Date_of_Creation}}</span></p>
                        </div>
                        <div class="text">
                            <figure class="figure d-block">
                                {% image page.Cover_Image height-500 width-1000 class="figure-img" %}
                                <figcaption class="figure-caption">Related Tags: {{page.Softwares_Used.all|join:",  "}}</figcaption>
                            </figure>
                            <p>{{page.Description | richtext}}</p>
                        </div>
                    </div>
            </div>
        </secton>
    </div>
</section>
{% endblock %}