{% extends 'base.html' %} {% load static %} {% load wagtailimages_tags %} {%
load wagtailcore_tags %} {% block content %}

<div class="container">
  {% image page.Cover_Image original as bg_img %}
  <div
    class="p-5 text-center bg-image rounded"
    style=" background-image: url('{{bg_img.url}}');height: 400px; ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">{{page.Headline_Text}}</h1>
          <h4 class="mb-3">Testing</h4>
        </div>
      </div>
    </div>
  </div>
  <br />
  <h1 class="text-center">Shyam's Project{{Projects.count|pluralize}}</h1>
  <div class="row">
    {% for project in Projects %}
    <div class = "col-md-4">
      <div class = "card card-bg-{{project.specific.ColorScheme}} rounded-top rounded-bottom rounded-3">
        {% image project.specific.Cover_Image original as bg_img %}
        <img src="{{bg_img.url}}" class="card-img-top img-fluid rounded-3" >
        <div class = "card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <h6 class="card-subtitle mb-2">{{project.specific.Date_of_Creation}}</h6>
          <p class="card-text">{{project.specific.Summary}}</p>
          <a href="{{project.specific.url}}" class="card-link btn" style = "color:white;">Go To Project</a>
          <hr/>
          <h6>Softwares Used</h6>
          <p>{{project.specific.Softwares_Used.all|join:",  "}}</p>
        </div>
      </div>
    </div>
    {% empty %}
    <h1 class="text-center">No Projects</h1>
    {% endfor %}
  </div>
</div>
{% endblock %}
