.bar {
  height: 100%;
  width: 2px;
  background: #007bff;
  position: relative;
}

.date-container {
  position: absolute;
  top: 50%;
  left: -67px;
  transform: translateY(-50%);
}

.dot {
  height: 20px;
  min-width: 20px;
  background: #007bff;
  border-radius: 50%;
}


.date {
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  .date-container {
    left: 3px;
  }
}
.card-bg {
  background: radial-gradient(#76b2fe, #b69efe);
}
